.card {
  margin-bottom: 10px;
  padding: 10px;
  background-color: transparent;
  border: 3px solid lightgrey;
}

.amenities {
  /* position: absolute;
  top: 17px;
  left: 20px; */
  background: white;
  color: black;
  width: 110px;
  height: 27px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.75em;
}

.amenitiesContainer {
  position: absolute;
  top: 10px;
  left: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cardBody {
  padding: 0.25rem;
}

.cardTextContent {
  margin-bottom: 0;
}
