.sideContent {
  font-weight: bold;
  padding-left: 30px;
}

.mainContent {
  background-color: rgba(196, 196, 196, 0.25);
  color: white;
  font-weight: bold;
}

.gridContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 45px;
  padding: 40px 11px;
}
