.button {
  padding: 13px 21px;
  border: 0;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background-color: #5a57ab;
  color: white;
}
@media (max-width: 960px) {
  .button{
    margin-bottom: 10px;
  }
}
