.dateForm {
  display: flex;
  align-items: center;
  padding: 0 14px;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  background: rgba(196, 196, 196, 0.25);
  position: relative;
}

.separator {
  font-size: 32px;
  height: 54px;
  margin-left: 27px;
  margin-right: 20px;
}

.inputDate {
  display: flex;
  width: 100%;
  height: 100%;
  border:none;
}

.inputDate:focus {
  box-shadow: none;
  border: none;
}

.dropdownIcon {
  position: absolute;
  right: 20px;
  font-size: 2.5em;
  z-index: -1;
}

.datePicker {
  background: none;
  border: none;
}

.datePicker:hover {
  cursor: pointer;
}
