.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.img:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: cubic-bezier(0.075, 0.82, 0.165, .5);
}

.searchInput {
  border: inherit;
  background-color: rgba(196, 196, 196, 0.25);
  width: 300px;
}

.searchInput::placeholder {
  color: black;
}

.searchInput:focus {
  box-shadow: none;
  border: none;
  background-color: rgba(196, 196, 196, 0.25);
}

.button {
  padding: 8px 15px;
  margin-right: 10px;
  border: 0;
  font-weight: bold;
  border-radius: 5px;
}

.fontBold {
  font-weight: bold;
}

.signUpBtn {
  color: black;
  background-color: rgba(196, 196, 196, 0.25);
}

.inputGroupAppend {
  margin-left: 0;
}

.srcButton {
  background-color: rgba(196, 196, 196, 0.25);
  color: black;
  font-weight: bold;
  border: inherit;
}

.srcButton:hover {
  background-color: #5a57ab;
  font-weight: bold;
}

.searchBox {
  width: 355px;
  background-color: rgba(196, 196, 196, 0.25);
  border-radius: 5px;
}
