html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 33% auto;
  height: 100vh;
}

.totalBudget {
  border: 0;
  background-color: rgba(196, 196, 196, 0.25);
  width: 275px;
  height: 18px;
  padding: 20px 0 20px 20px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 7px;
}

.buttonApply {
  padding: 15px 50px;
  margin: 30px 47px 0;
  border: 0;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #5a57ab;
}

.input-group {
  width: 310px;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid;
}

.text-identity {
  color: rgba(196, 196, 196, 0.25);
}

.bg-identity {
  background-color: rgba(196, 196, 196, 0.25);
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='number']:focus,
[type='text'].form-control:focus,
[type='password'].form-control:focus,
[type='email'].form-control:focus,
[type='tel'].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: none;
  border: 1px solid;
}

.react-datepicker-wrapper:focus{
  outline: 0;
}
